<div class="block-features">
  <header class="block block__header">
    <h2>Host on the cloud to keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
      consectetur.
    </p>
  </header>

  <div class="block grid grid--1x2 block-features__content">
    <li class="list">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3>Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
        provident praesentium placeat incidunt excepturi porro impedit neque
        accusantium libero error quis modi pariatur eaque, harum commodi
        explicabo quasi! Labore, vero cupiditate. Iusto nam quia cupiditate!
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </li>
    <li class="list">
      <img src="images/easy.jpg" alt="" class="block-features__image" />
    </li>
  </div>

  <div class="block grid grid--1x2 block-features__content">
    <li class="list">
      <img src="images/fast.jpg" alt="" class="block-features__image" />
    </li>
    <li class="list">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3>Simply fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
        provident praesentium placeat incidunt excepturi porro impedit neque
        accusantium libero error quis modi pariatur eaque, harum commodi
        explicabo quasi! Labore, vero cupiditate. Iusto nam quia cupiditate!
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </li>
  </div>
</div>
