<div class="block block--dark footer">
  <div class="collapsible collapsible--expanded footer__section">
    <header class="collapsible__header">
      <h3 class="collapsible__heading footer__heading footer__text">
        products
      </h3>

      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>

    <div class="collapsible__content">
      <a href="#" class="footer__content-link footer__text"
        >WordPress Hosting</a
      >
      <a href="#" class="footer__content-link footer__text"
        >Free Automated WordPress</a
      >
      <a href="#" class="footer__content-link footer__text">Migrations</a>
      <a href="#" class="footer__content-link footer__text">Domain names</a>
      <a href="#" class="footer__content-link footer__text"
        >Monthly Web Hosting</a
      >
    </div>
  </div>
  <div class="collapsible collapsible--expanded footer__section">
    <header class="collapsible__header">
      <h3 class="collapsible__heading footer__heading footer__text">company</h3>

      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>

    <div class="collapsible__content">
      <a href="#" class="footer__content-link footer__text">About</a>
      <a href="#" class="footer__content-link footer__text">Affiliates</a>
      <a href="#" class="footer__content-link footer__text">Blog</a>
      <a href="#" class="footer__content-link footer__text">Careers</a>
      <a href="#" class="footer__content-link footer__text">Community</a>
      <a href="#" class="footer__content-link footer__text">News</a>
      <a href="#" class="footer__content-link footer__text">Green Hosting</a>
    </div>
  </div>
  <div class="collapsible collapsible--expanded footer__section">
    <header class="collapsible__header">
      <h3 class="collapsible__heading footer__heading footer__text">support</h3>

      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>

    <div class="collapsible__content">
      <a href="#" class="footer__content-link footer__text">Contact</a>
      <a href="#" class="footer__content-link footer__text">Knowledge Base</a>
      <a href="#" class="footer__content-link footer__text">Forums</a>
      <a href="#" class="footer__content-link footer__text">System Status</a>
      <a href="#" class="footer__content-link footer__text">Web Hosting</a>
      <a href="#" class="footer__content-link footer__text">DreamCompute</a>
    </div>
  </div>
  <div class="collapsible collapsible--expanded footer__section">
    <header class="collapsible__header">
      <h3 class="collapsible__heading footer__heading footer__text">domains</h3>

      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </header>

    <div class="collapsible__content">
      <a href="#" class="footer__content-link footer__text">Domain Checker</a>
      <a href="#" class="footer__content-link footer__text">Domain Transfer</a>
      <a href="#" class="footer__content-link footer__text">Free Domain</a>
      <a href="#" class="footer__content-link footer__text">XYZ Domain</a>
      <a href="#" class="footer__content-link footer__text"
        >Cheap SSL Ceryficate</a
      >
    </div>
  </div>

  <div class="footer--logo-container">
    <img class="footer--logo" src="images/logo.svg" alt="" />
    <p class="footer--copyrights">Copyright © 2022 mosh</p>
  </div>
</div>

<script src="js/main.js"></script>
