   
   <blockquote class="quote">
    <p class="quote__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione accusamus deserunt ipsum odio non dolores iure nam et ad officiis?</p>
   <footer>
     <div class="media">
       <div class="media__image quote__line">
         <svg class="icon icon--primary">
           <use xlink:href="images/sprite.svg#line"></use>
         </svg>
       </div>
       <div class="media__body">
   <h3 class="quote__author">John Smith</h3>
   <p class="quote__orgnisation">ABC Company</p>
       </div>
     </div>
   </footer>
   </blockquote>
