<section class="block block--dark block--skewed-left hero showcase--block">
  <header class="block__header">
    <h2 class="block__heading">Cloud Hosting for Pros</h2>
  </header>

  <div class="continer grid grid--1x2">
    <div class="showcase__image">
      <img src="images/ipad.png" alt="Tablet deskop" />
    </div>

    <ul>
      <list class="list showcase--list">
        <svg class="icon icon--primary showcase__icon">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>

        <div class="showcase__text_content">
          <h3>Easy Start & Managed Updates</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
            perspiciatis assumenda, repellendus impedit delectus cupiditate enim
            architecto vero qui sint?
          </p>
        </div>
      </list>

      <list class="list showcase--list">
        <svg class="icon icon--primary showcase__icon">
          <use xlink:href="images/sprite.svg#growth"></use>
        </svg>

        <div class="showcase__text_content">
          <h3>Staging, Git & WP CLI</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
            perspiciatis assumenda, repellendus impedit delectus cupiditate enim
            architecto vero qui sint?
          </p>
        </div>
      </list>
      <list class="list showcase--list">
        <svg class="icon icon--primary showcase__icon">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>

        <div class="showcase__text_content">
          <h3>Dynamic Cashing & More</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
            perspiciatis assumenda, repellendus impedit delectus cupiditate enim
            architecto vero qui sint?
          </p>
        </div>
      </list>
    </ul>
  </div>
</section>
